.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/26694930/239703493-e906edc9-f8c6-4fc7-beec-bae534540e57.jpeg");
    background-size: cover;
    background-position: center;
}